In [3]:
import pandas as pd

### 1. Data cleaning and preparation

In [5]:
# The dataset is combined from TMDB API and OMDB API.
# You can look at the scraping process in scrape_data.ipynb
df = pd.read_parquet('../data/movies.parquet')

In [7]:
print(df.shape)
print(df.columns)
df.head(10)

(3884, 58)
Index(['adult', 'backdrop_path', 'belongs_to_collection', 'budget', 'genres',
       'homepage', 'id', 'imdb_id', 'original_language', 'original_title',
       'overview', 'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'Title', 'Year', 'Rated', 'Released',
       'Runtime', 'Genre', 'Director', 'Writer', 'Actors', 'Plot', 'Language',
       'Country', 'Awards', 'Poster', 'Ratings', 'Metascore', 'imdbRating',
       'imdbVotes', 'imdbID', 'Type', 'totalSeasons', 'Response', 'DVD',
       'BoxOffice', 'Production', 'Website', 'belongs_to_collection.id',
       'belongs_to_collection.name', 'belongs_to_collection.poster_path',
       'belongs_to_collection.backdrop_path', 'Season', 'Episode', 'seriesID'],
      dtype='object')

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,BoxOffice,Production,Website,belongs_to_collection.id,belongs_to_collection.name,belongs_to_collection.poster_path,belongs_to_collection.backdrop_path,Season,Episode,seriesID
0,False,None,NaN,0,"[{'id': 18, 'name': 'Drama'}]",,4501,tt0335663,de,Der Fall Rohrbach,...,None,None,None,NaN,None,None,None,None,None,None
1,False,/7u6P46nr6vNua00DmKOyzfrqTv1.jpg,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",,4507,tt0104545,es,"Jamón, jamón",...,"$938,473",N/A,N/A,NaN,None,None,None,None,None,None
2,False,/5r2BZajlRZqnOc6s2BS0aiFDcne.jpg,NaN,30000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",http://jessejamesmovie.warnerbros.com/,4512,tt0443680,en,The Assassination of Jesse James by the Coward...,...,"$3,909,149",N/A,N/A,NaN,None,None,None,None,None,None
3,False,/w8VDpCcKezdBbXJEWMHwttI35mU.jpg,NaN,30000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",http://www.30daysofnight.com/,4513,tt0389722,en,30 Days of Night,...,"$39,569,000",N/A,N/A,91660.0,30 Days of Night Collection,/fRAZnIegztYTPsM9eGjSUusKUYM.jpg,/uKN4mENg8BVeKCxwWXGCvFeUim8.jpg,None,None,None
4,False,/jWZqmct37aYQKB6TU9IaTg6346G.jpg,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",,4515,tt0891527,en,Lions for Lambs,...,"$15,002,854",N/A,N/A,NaN,None,None,None,None,None,None
5,False,/3CEKwdKVLfSCzeAOpqVLquLwGQQ.jpg,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",http://www.monmeilleurami-lefilm.com/,4516,tt0778784,fr,Mon Meilleur Ami,...,"$1,426,784",N/A,N/A,NaN,None,None,None,None,None,None
6,False,/7NvMR6ihwuH8aXQ8PnVxSpxaMxV.jpg,NaN,55000000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",,4517,tt0414055,en,Elizabeth: The Golden Age,...,"$16,383,509",N/A,N/A,100286.0,Elizabeth Collection,/2XxIeKB6g21GvPmixWyyc9ZlLnR.jpg,/3YiTOxGX5KZO6P3eg41P50QrRhQ.jpg,None,None,None
7,False,/cCzvJ95pEB1I5cUX7Zjfl606noN.jpg,NaN,30000000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",,4518,tt0127536,en,Elizabeth,...,"$30,082,699",N/A,N/A,100286.0,Elizabeth Collection,/2XxIeKB6g21GvPmixWyyc9ZlLnR.jpg,/3YiTOxGX5KZO6P3eg41P50QrRhQ.jpg,None,None,None
8,False,/ii3WNOfgEp62jkJAHAOJyYwRfhl.jpg,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",,4519,tt0825244,fr,Dialogue avec mon jardinier,...,N/A,N/A,N/A,NaN,None,None,None,None,None,None
9,False,/7Pc719slk1WDC4fH1pk28pdPemv.jpg,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",http://www.sonyclassics.com/sleuth/,4520,tt0857265,en,Sleuth,...,"$342,895",N/A,N/A,NaN,None,None,None,None,None,None

In [8]:
df.describe()

,belongs_to_collection,budget,id,popularity,revenue,runtime,vote_average,vote_count,belongs_to_collection.id
count,0.0,3.884000e+03,3884.000000,3884.000000,3.884000e+03,3884.000000,3884.000000,3884.000000,7.130000e+02
mean,NaN,1.387895e+07,3302.949022,13.702209,4.814492e+07,103.535788,5.998312,1292.607106,2.374717e+05
std,NaN,3.096222e+07,2194.495951,17.398823,1.247476e+08,28.719455,1.949987,2917.123919,3.213205e+05
min,NaN,0.000000e+00,2.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+01
25%,NaN,0.000000e+00,1481.750000,2.572250,0.000000e+00,90.000000,5.600000,11.000000,3.106000e+03
50%,NaN,0.000000e+00,3002.500000,9.383000,0.000000e+00,100.000000,6.500000,148.500000,1.002860e+05
75%,NaN,1.200000e+07,5144.250000,18.278750,3.060000e+07,115.000000,7.142250,1146.250000,3.406230e+05
max,NaN,3.790000e+08,7840.000000,302.315000,2.264162e+09,460.000000,10.000000,30664.000000,1.177319e+06

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3884 entries, 0 to 3883
Data columns (total 58 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   adult                                3884 non-null   bool
 1   backdrop_path                        3232 non-null   object
 2   belongs_to_collection                0 non-null      float64
 3   budget                               3884 non-null   int64
 4   genres                               3884 non-null   object
 5   homepage                             3884 non-null   object
 6   id                                   3884 non-null   int64
 7   imdb_id                              3884 non-null   object
 8   original_language                    3884 non-null   object
 9   original_title                       3884 non-null   object
 10  overview                             3884 non-null   object
 11  popularity                           3884 non-null   float64
 12  poster_path                          3674 non-null   object
 13  production_companies                 3884 non-null   object
 14  production_countries                 3884 non-null   object
 15  release_date                         3884 non-null   object
 16  revenue                              3884 non-null   int64
 17  runtime                              3884 non-null   int64
 18  spoken_languages                     3884 non-null   object
 19  status                               3884 non-null   object
 20  tagline                              3884 non-null   object
 21  title                                3884 non-null   object
 22  video                                3884 non-null   bool
 23  vote_average                         3884 non-null   float64
 24  vote_count                           3884 non-null   int64
 25  Title                                3884 non-null   object
 26  Year                                 3884 non-null   object
 27  Rated                                3884 non-null   object
 28  Released                             3884 non-null   object
 29  Runtime                              3884 non-null   object
 30  Genre                                3884 non-null   object
 31  Director                             3884 non-null   object
 32  Writer                               3884 non-null   object
 33  Actors                               3884 non-null   object
 34  Plot                                 3884 non-null   object
 35  Language                             3884 non-null   object
 36  Country                              3884 non-null   object
 37  Awards                               3884 non-null   object
 38  Poster                               3884 non-null   object
 39  Ratings                              3884 non-null   object
 40  Metascore                            3884 non-null   object
 41  imdbRating                           3884 non-null   object
 42  imdbVotes                            3884 non-null   object
 43  imdbID                               3884 non-null   object
 44  Type                                 3884 non-null   object
 45  totalSeasons                         17 non-null     object
 46  Response                             3884 non-null   object
 47  DVD                                  3855 non-null   object
 48  BoxOffice                            3855 non-null   object
 49  Production                           3855 non-null   object
 50  Website                              3855 non-null   object
 51  belongs_to_collection.id             713 non-null    float64
 52  belongs_to_collection.name           713 non-null    object
 53  belongs_to_collection.poster_path    681 non-null    object
 54  belongs_to_collection.backdrop_path  624 non-null    object
 55  Season                               12 non-null     object
 56  Episode                              12 non-null     object
 57  seriesID                             12 non-null     object
dtypes: bool(2), float64(4), int64(5), object(47)
memory usage: 1.7+ MB

### 2. Exploratory data analysis (EDA)